footer.footer 
    .footer__ibg.ibg
        +picture(jpg, `${modules}footer-bg`, 'sml')
    .container 
        .footer__row
            a.footer__logo(href="/")
                img.footer__img-logo(src=`${modulesIco}logo-white.svg` alt=companyName)
                p.footer__logo-title Будiвництво та ремонт
            p.footer__descr Ремонт в квартирах#[br] і котеджах з 2010 року#[br] 3500 виконаних проектів
            .footer__icons
                a.footer__icon(href=instLink) 
                    +icon('social-inst', 'white')
                //- a.footer__icon(href=fbLink) 
                //-     +icon('social-fb', 'white')
            .footer__links
                a.link.footer__tel(href=phoneLink)!= phoneNumber
                a.link.footer__email(href=`mailto:${mailAdress}`)= mailAdress
            a.footer__policy(href=privacyLink target="_blank")= lang.policy
