+popup()#consult
	h3.popup__title Консультація#[br] по вартості та термінах#[br] проведення ремонту
	p.popup__descr Відповімо на всі питання#[br] Підкажемо як заощадити до 15% на матеріалах. Розповімо про етапи проведення ремонту
	form.form(action="#")
		.form__main
			.form__block.input-wrap
				input.form__input.input(type="text" name="Имя" placeholder=lang.urName)
			.form__block.input-wrap
				input.form__input.input(type="tel" name="Телефон" placeholder=lang.urTel)
			button.form__submit.uk-button.btn-solid-primary(type="submit") Відправити
		.form__policy Натискаючи на кнопку, я погоджуюся#[br] з #[a.form__policy-link(href=privacyLink target="_blank") політикою конфіденційності]
	.phone 
		+picture(png, `${modules}phone`, 'n')(class="phone-img")
		.phone-cb 
			p Зателефонуйте нам
			a.phone-tel.link(href=phoneLink)!= phoneNumber
