+popup()#callback
	h3.popup__title Ответим на#[br.d-md-none] любой вопрос
	form.form(action="#")
		.form__main
			.form__block.input-wrap
				input.form__input.input(type="text" name="Имя" placeholder=lang.urName)
			.form__block.input-wrap
				input.form__input.input(type="tel" name="Телефон" placeholder=lang.urTel)
			button.form__submit.uk-button.btn-solid-primary(type="submit") Отправить
		.form__policy Нажимая на кнопку, я соглашаюсь#[br] с #[a.form__policy-link(href=privacyLink target="_blank") политикой конфиденциальности]
	.phone 
		+picture(png, `${modules}phone`, 'n')(class="phone-img")
		.phone-cb 
			p Позвоните нам:
			a.phone-tel.link(href=phoneLink)!= phoneNumber
	.mes 
		p Написать нам в мессенджере
		.mes-icons 
			a.mes-icon(href=waLink)
				+icon('social-wa')
			a.mes-icon(href=tgLink)
				+icon('social-tg')
			a.mes-icon(href=telLink)
				+icon('social-tel')